/*
Color palette candidates

For example, see:

https://coolors.co/f4ebdc-f4ce42-b29d72-0e1116-278900

white (greenish): f6f6dd, (246,246,221)
white (yellowish): f4ebdc, (244,235,220), intensified: fff5e5
green (forest): 485e3f
green (med): 4f8938, intensified: 278900
black: 0e1116
blue: 374a67
purple: 635398
yellow: f4ce42
*/
